body {font-family:'Manrope', Times, serif
}

/* title-block start */

.title-block{
    width: 100%;
  max-width: 1150px;
  margin: 0 auto;
}
.title-block h1 {
    color: #121212;
    font-size: 60px;
    width: 956px;
    font-weight: 400px;
    text-align: left;
    letter-spacing: -0.03em;
    line-height: 100%;
    margin-bottom: 30px;
    /* margin-left: 150px; */
}

img {
    font-weight: 1150px;
    height: 450;
}
.title-block__room {
    width: 1150px;
    height: 500px;
position: relative;
    background-image: url('../resourses/Rectangle\ 1.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 150px;
    /* margin-left: 150px; */
   /* padding-bottom: 40px;
    padding-left: 35px; */
}
.title-block__room-text {
    position: absolute;
    bottom: 40px;
    left: 35px;
    color: rgb(255, 255, 255);
    width: 430px;
    font-size: 20px;
    letter-spacing: -0.03em;
    line-height: normal;
}

/* title-block end */


/* about-block start */
.about-block{
    color:#121212;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-left: 150px;
}

.about-block__h2{
    font-weight: 400;
    font-size: 45px;
    letter-spacing: -0.03em;
    color: 121212;
    margin-bottom: 30px;
    margin-left: 150px;
}


.btn {
    display: block;
    width: 255px;
    height: 67px;
    border: 1px solid red;
    text-align: center;
    line-height: 67px;
    text-decoration: none;
    color: white;
    background-color: red;
    cursor: pointer;
    margin-bottom: 150px;
    margin-left: 150px;
}
/*.btn:hover {
    color: black;
    background-color: blue;
}*/
/* about-block end */
